:root {
  --color-blue: #51B7B9;
  --color-soft-yellow: #FFF4B2;
  --color-orange: #E95C2F;
  --color-soft-orange: #EFA77A;
  --color-gray-purple: #49454F;
  --font-primary: 'Segoe UI';
  --font-calligraphic: 'Segoe Script';
}

body {
  overflow-y: scroll;
}

input[type="checkbox"]:checked {
  accent-color: var(--color-orange);
}